LearnJava/SimpleSOAPExample/WebContent/wsdl/HiThere.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.javapostforlearning.arpit.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.javapostforlearning.arpit.org" xmlns:intf="http://webservices.javapostforlearning.arpit.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.javapostforlearning.arpit.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHiThere">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHiThereResponse">
    <complexType>
     <sequence>
      <element name="sayHiThereReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHiThereResponse">

      <wsdl:part element="impl:sayHiThereResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHiThereRequest">

      <wsdl:part element="impl:sayHiThere" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HiThere">

      <wsdl:operation name="sayHiThere">

         <wsdl:input message="impl:sayHiThereRequest" name="sayHiThereRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHiThereResponse" name="sayHiThereResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HiThereSoapBinding" type="impl:HiThere">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHiThere">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHiThereRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHiThereResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HiThereService">

      <wsdl:port binding="impl:HiThereSoapBinding" name="HiThere">

         <wsdlsoap:address location="http://localhost:8080/SimpleSOAPExample/services/HiThere"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
